* {
    margin: 0px;
    padding: 0px;
}
  .dropdown-menu {
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
  }
  
  .dropdown-menu li {
    display: inline-block;
    position: relative;
    float: left;
    width: 200px;
    line-height: 35px;
    text-decoration: none;
  }
  
  
  .dropdown-menu li li a {
    font-size: 12px;
  }
  
  .dropdown-menu li:hover {
    background: blue;
  }
  
  /*--- Sublist Styles ---*/
  .dropdown-menu ul {
    position: absolute;
    display: none;
  }
  
  /*--- Hide Sub Sublists ---*/
  .dropdown-menu li:hover ul ul {
    display: none;
  }
  
  /*--- Sublevel UL's display and position on hover ---*/
  .dropdown-menu li:hover ul {
    display: block;
  }
  .dropdown-menu li li:hover ul {
    margin-left: 200px;/*This must be width of menu box*/
    margin-top: -35px;
    display: block;
  }
  /* nu-li {
    padding: 10px;
  } */
  
  /* .dropdown-submenu {
    position: absolute;
    left: 0px;
    top: 0px;
  } */

  /* .dropdown-menu ul ul {
    position: absolute;
    left: 0px;
    top: 0px;
  } */


  /* styled Dropdown menu */ */
   .parent {display: block;position: relative;float: left;line-height: 30px;background-color: #4FA0D8;border-right:#CCC 1px solid;} */
   .parent a{margin: 10px;color: #FFFFFF;text-decoration: none;}
   .parent:hover > ul {display:block;position:absolute;} */
   
   .child {display: none;}
   .child li {background-color: #E4EFF7;line-height: 30px;border-bottom:#CCC 1px solid;border-right:#CCC 1px solid; width:100%;}
   .child li a{color: #000000;}
   
    ul{list-style: none;margin: 0;padding: 0px; min-width:10em;}
    ul ul ul{left: 100%;top: 0;margin-left:1px;}
    li:hover {background-color: #95B4CA;}
   .parent li:hover {background-color: #F0F0F0;}
   .expand{font-size:12px;float:right;margin-right:5px;}